[Unit]
Description=ADM Manuals_MD Service
After=network.target

[Service]
Type=simple
User=robot
Restart=on-failure
RestartSec=5s
ExecStart=/home/robot/MyWorkSpace/AielloDeveloperManuals/Manuals_MD/start_local_book.sh

[Install]
WantedBy=multi-user.target
